<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaxApp"
        tools:targetApi="31" >
        <activity
            android:name=".Register"
            android:theme="@style/Theme.TaxApp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.TaxApp"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".BillsActivity" />

        <activity
            android:name=".SetupPasswordActivity"
            android:label="@string/setup_password_activity_title" />

        <provider
            android:exported="false"
            android:authorities="com.example.taxapp"
            android:name=".data.GSTBillingContentProvider" />

        <activity
            android:name=".NewBillActivity"
            android:label="@string/new_bill_activity_title" />

        <activity
            android:name=".NewBillCustomerActivity"
            android:label="@string/new_bill_customer_activity_title" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".SavePDFActivity" />

    </application>

</manifest>